* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

:root {
  --nav-font-style: 18px Verdana, sans-serif;
  --nav-background-color: rgb(48, 48, 48);
  --link-hover-color: #4b0015;
  --max-width: 900px;
  --padding: 40px;
  --border-color: rgb(32, 32, 32);
}

/* Link styles */
a:link, a:visited {
  color: rgb(0, 0, 0);
  text-decoration: underline;
}

a:hover {
  color: #9b0000;
}

nav a:link, nav a:visited {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

nav a:hover, nav a:active {
  color: var(--link-hover-color);
  border-bottom: 2px solid var(--link-hover-color);
}

address a:link, a:visited {
  text-decoration: none;
}

/* Navigation and Footer */

body {
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  font: 14px/1.5 Arial, sans-serif;
}

ul {
  list-style-type: none;
}

#experience ul {
  list-style-type: disc;
  padding-left: 20px;
}
nav {
  background-color: var(--nav-background-color);
  font: var(--nav-font-style);
  text-transform: uppercase;
  position: fixed;
  max-width: var(--max-width);
  width: 100%;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-around;
  padding: 15px;
}

footer {
  font: bold 14px Verdana, sans-serif;
}

footer ul {
  border-top: 1px solid var(--border-color);
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}

main {
  display: flex;
  flex-direction: row;
  padding: 80px var(--padding) var(--padding) var(--padding) ;
}

.left-column {
  flex: 3;
  padding: 0px var(--padding) 0px 0px;
}

.right-column {
  flex: 7;
  border-left: 2px solid gray;
  padding: 0px 0px 0px var(--padding);
  text-align: justify;
  font: 14px/1.8 Arial, sans-serif;
}

.photo {
  border-radius: 50%;
  display: block;
  margin: 0px auto 20px auto;
}

header {
  padding: 0px 0px 20px 0px;
  text-transform: uppercase;
  line-height: normal;
  text-align: center;
  }

.job-title {
  letter-spacing: 3.5px;
  color: rgba(98, 0, 0, 1);
}

address {
  margin: 0px 0px 40px 0px;
  padding: 20px 0px 0px 0px;
  border-top: 3px solid var(--border-color);
  font-style: normal;
}

section {
  padding: 0px 0px var(--padding) 0px;
  scroll-margin-top: 70px;
}

#code-examples {
  padding-bottom: 0px;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 3px;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  padding: 5px 0px;
  margin-bottom: 10px;
  
}

h3 {  
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 10px;
}

.label {
  font-weight: bold;
}

.contact-icon {
  width: 25px;
  background-color: var(--border-color);
  padding: 3px;
  margin-right: 10px;
}

.contact-type {
  border-bottom: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

code {
  display: block;
  padding: 0px 30px;
  background-color: rgb(32, 32, 32);
  color: rgb(218, 218, 218);
}

.languages-container {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}

.lang-row {
  display: flex;
  justify-content: space-between;
}

.lang-name {
  display: flex;
}

.lang-level {
  display: flex;
  gap: 5px;
}

.dot {
  width: 15px;
  height: 15px;
  background-color: rgb(135, 135, 135);
  display: inline-block;
  border-radius: 50%;
}

.dot.filled {
  background-color: black;
}

.accent-style {
  font-weight: bold;
}

/* Skills Section */

.skills-container {
  display: flex;
  flex-direction: column;
} 

.skill-progress {
  display: block;
  width: auto;
  height: 10px;
  background-color: rgb(165, 165, 165);
  margin: 0px 0px 10px 0px;
}

.skill-progress-fill {
  display: block;
  height: 10px;
  background-color: black;
  margin: 0px 0px 10px 0px;
}

#experience ul {
  margin: 15px 0px;
}

.notes {
  font-style: italic;
  padding-bottom: 10px;
}