* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --nav-font-style: 18px Verdana, sans-serif;
  --nav-background-color: rgb(49, 49, 49);
  --link-hover-color: #c9bcf9;
  --nav-text-color: white;
  --max-width: 1000px;
  --padding: 30px;
}

/* Link styles */
nav a:link, nav a:visited {
  color: white;
  text-decoration: none;
}

nav a:hover, nav a:active {
  color: var(--link-hover-color);
  border-bottom: 2px solid var(--link-hover-color);
}

/* Navigation and Footer */

body {
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
  border: 1px solid gray;
}

nav {
  background-color: var(--nav-background-color);
  color: var(--nav-text-color);
  font: var(--nav-font-style);
  text-transform: uppercase;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  padding: 15px;
}

footer {
  font: bold 14px Verdana, sans-serif;
}

footer ul {
  border-top: 1px solid gray;
  padding: 10px 20px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}

main {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: var(--padding);
}

.left-column {
  flex: 3;
}

.right-column {
  flex: 6;
  border-left: 2px solid gray;
  padding: 0px 0px 0px var(--padding);
}

