* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --nav-font-style: 18px Verdana, sans-serif;
  --nav-background-color: rgb(255, 255, 255);
  --link-hover-color: #9b0000;
  --max-width: 1000px;
  --padding: 40px;
  --border-color: rgb(32, 32, 32);
}

/* Link styles */
a:link, a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #9b0000;
}

nav a:link, nav a:visited {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

nav a:hover, nav a:active {
  color: var(--link-hover-color);
  border-bottom: 3px dotted var(--link-hover-color);
}


/* Navigation and Footer */

body {
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  font: 14px/1.5 Arial, sans-serif;
}

ul {
  list-style-type: none;
}
nav {
  background-color: var(--nav-background-color);
  font: var(--nav-font-style);
  text-transform: uppercase;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-around;
  padding: 15px;
}

footer {
  font: bold 14px Verdana, sans-serif;
}

footer ul {
  border-top: 1px solid var(--border-color);
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}

main {
  display: flex;
  flex-direction: row;
  padding: var(--padding);
}

.left-column {
  flex: 3;
  padding: 0px var(--padding) 0px 0px;
}

.right-column {
  flex: 6;
  border-left: 2px solid gray;
  padding: 0px 0px 0px var(--padding);
    text-align: justify;
}

.photo {
  border-radius: 50%;
  display: block;
  margin: 0px auto 20px auto;
}

header {
  padding: 0px 0px 20px 0px;
  text-transform: uppercase;
  line-height: normal;
  text-align: center;
  }

.job-title {
  letter-spacing: 3.5px;
  color: rgba(0, 0, 0, 0.6);
}

address {
  margin: 0px 0px 40px 0px;
  padding: 20px 0px 0px 0px;
  border-top: 3px solid var(--border-color);
  font-style: normal;
}

section {
  padding: 0px 0px var(--padding) 0px;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 3px;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  padding: 10px 0px;
  margin-bottom: 10px;
}

.label {
  font-weight: bold;
}

.contact-icon {
  width: 25px;
  background-color: var(--border-color);
  padding: 3px;
  margin-right: 10px;
}

.contact-type {
  border-bottom: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}